<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a (click)="resetNotifications();" class="nav-link mt-3" href="" routerLink="/messages" role="button">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">{{ notifications }}</span>
            </a>

        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline font-weight-bold">{{usersName}}</span>
                <img id="rounded-circle img-profile" class="rounded-circle" src="assets/images/{{profilePicture}}.jpg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="" routerLink="/profile/{{ usersId }}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="" routerLink="/messages">
                    <i class="fas fa-envelope fa-fw mr-2 text-gray-400"></i>
                    Messages
                </a>
                <a class="dropdown-item" href="" routerLink="/">
                    <i class="fas fa-grip-horizontal mr-2 text-gray-400"></i>
                    Grid
                </a>

                <div class="dropdown-divider"></div>
                <a (click)="this.authentication.logout();" class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Sign Out
                </a>
            </div>
        </li>
    </ul>
</nav>


<div *ngIf="alertMessage" class="mx-4 alert alert-primary text-primary mb-4">
{{alertMessage}}
</div>
