
<div class="">
  <div *ngIf="formSuccess" class="alert alert-success text-center mb-5">{{ formSuccess }}</div>
  <div class="message p-3 pr-5 my-4 bg-white">
    <div class="messenger">
      <div class="d-flex justify-content-between align-items-center">
        <div class="">
          <a routerLink="/profile/{{ message.from_id }}"><img src="../assets/images/{{ message.messengerProfileImage }}.jpg" class="rounded-circle profile-img-md"></a>
          <span class="ml-3"><a href="#" class="messenger-name">{{ message.messengerName }}</a></span>
        </div>
        <i (click)="deleteMessage();" class="link mb-2 fas fa-trash-alt"></i>
      </div>

      <!-- *ngFor="let m of message.content" -->

      <div *ngFor="let m of mss" class="">
        <p class="mt-2">{{ m.message }}</p>

      </div>
    </div>
  </div>
</div>
